@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #374151;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
    overflow-x: hidden !important;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 14px arial;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background: #ffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.nav-icon {
    width: 60%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile span {
    display: none;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.row-artikel {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 35px;
    margin-top: 20px;
    margin-bottom: 120px;
}

.text-artikel {
    font-size: 20px;
    margin-top: 18px;
    font-weight: 600;
}

.card-header {
    width: 100%;
    border-radius: 3px;
    height: 225px;
}

.card:hover {
    transform: scale(1.06);
    transition: 80ms ease-in;
}

.card-title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.date {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: var(--primary-color);
}

.bottom-navigation {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #374151;
    padding: 20px 20px 20px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100vw;
}

.bottom-navigation svg {
    width: 40px;
    height: 40px;
}

.bottom-navigation svg:hover {
    transform: scale(1.3);
    margin-top: -15px;
    transition: 80ms ease-in;
}

.menu-dekstop {
    display: none;
}

.banners {
    width: 100%;
    max-width: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: 0.5s;
    width: 100%;
}

.slide {
    width: 100%;
    height: auto;
    /* Biarkan tinggi gambar menyesuaikan proporsi gambar */
    box-sizing: content-box;
}

.cari-artikel {
    margin-top: 6px;
}

.cari-artikel input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
    outline: none;
    border-radius: 7px;
    font-size: 17px;
}

.sidebar {
    display: none;
}

.pencarian-psikolog input {
    height: 40px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.pencarian-psikolog .filter-psikolog {
    right: 0;
}

.pencarian-psikolog svg {
    position: absolute;
    width: 30px;
}

.pencarian-psikolog input {
    width: 100%;
}

.consultation {
    margin-bottom: 150px;
}

.pencarian-psikolog {
    display: flex;
    align-items: center;
    position: relative;
}

.psikolog-list {
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
    height: 100vh;
    background: white;
    height: 100%;
}

.psikolog-card {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.psikolog-card:hover {
    background-color: #f1f1f1;
}

.psikolog-card img {
    width: 64.72px;
}

.psikolog-name {
    font-weight: bold;
}

.psikolog-desc {
    font-size: 14px;
}

.psikolog-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.psikolog-rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.psikolog-rating svg {
    width: 20px;
}

.psikolog-akun-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.psikolog-akun-info span {
    display: block;
    background: rgba(0, 255, 56, 0.19);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

.psikolog-akun-info div {
    display: flex;
    align-items: center;
    font-weight: bolder;
    gap: 5px;
}

.psikolog-akun-info div img {
    width: 25px;
    height: 25px;
}

.visible {
    display: block !important;
}

.chat-psikolog {
    display: none;
    background-color: white;
    padding-bottom: 20px;
}

.profile-psikolog {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-psikolog img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.profile-psikolog {
    background-color: white;
    padding: 15px 20px 15px 20px;
}

.profile-psikolog .nama-psikolog b {
    font-size: 17px;
}

.profile-psikolog .nama-psikolog p {
    /* width: 70%; */
    margin-top: 10px;
}

.menu-chat {
    color: #374151;
    width: 20px;
    height: 20px !important;
    border-radius: 100%;
    border: 4px solid #37415134;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-chat b {
    font-weight: bolder;
    font-size: 30px;
    line-height: 0px;
    padding: 0;
    margin: 0;
}

.aksi-chat {
    margin-top: 10px;
    display: flex;
    background-color: #F6FAFD;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.aksi-chat-button {
    display: flex;
    gap: 25px;
}

.aksi-chat-button button {
    background-color: transparent;
    border: none;
    outline: none;
}

.main-chat {
    margin-top: 30px;
    position: relative;
}

.chat-list {
    overflow-y: auto;
    height: 350px;

    padding: 20px;
}

.pesan-dikirim {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.pesan-dikirim p {
    color: white;
    width: 50%;
    background-color: #374151;
    padding: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pesan-diterima {
    margin-top: 20px;
    background-color: #EFEFEF;
    color: white;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    right: 0;
    color: black;
}

.pesan-diterima b {
    margin-bottom: 10px;
    display: block;
    color: var(--primary-color);
}

.kirim-pesan {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.kirim-pesan input {
    width: 100%;
    height: 50px;
    outline: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--primary-color);
}

.kirim-pesan button {
    border-radius: 100%;
    background-color: #374151;
    padding: 10px;
}

.kirim-pesan button svg {
    width: 20px;
    height: 20px;
}

.tes-kesehatan {
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: white;
}

.tes-kesehatan img {
    width: 100%;
}

.tes-kesehatan h1 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tes-kesehatan p {
    padding: 30px;
    color: #000;
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mulai-tes {
    width: 303px;
    height: 55px;
    border-radius: 50px;
    background: #1C7892;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.panduan-tes {
    color: #1C7892;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    border: 5px solid #1C7892;
    margin-top: 10px;

    width: 303px;
    height: 55px;
    margin-bottom: 15px;
}

.tes-kesehatan .button-aksi {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tes-kesehatan .button-aksi button {
    display: block;
}

.jawaban {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.jawaban button {

    background-color: white;
    border: 2px solid #1C7892;
    color: #1C7892;

    width: 100%;
    height: 65.28px;

    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 10px;
}

.jawaban button.selected {
    color: #FFF;
    background: #1C7892;
}

.soal-action {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soal-action button {
    width: 30px;
    background-color: #374151;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soal-action button.button-before {
    background-color: transparent;
    border: 0.1px solid var(--primary-color);
}

.soal-action button.button-before:hover {
    background-color: #374151;
}

.soal-action button.button-before:hover #button-before {
    fill: white;
}

.soal-action img {
    width: 150px;
    height: 40px;
}

.laporan-kesehatan {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}

.laporan-kesehatan p {
    margin-top: 10px;
}

.download-button {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}

.download-button button {
    background-color: #1C7892;
    border-radius: 10px;
    padding: 15px;
    color: white;
    width: 150px;

    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.topik-creator {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topik-creator img {
    border-radius: 100%;
}

span .category {
    width: 72px;
    height: 27px;
    color: #FFF;

}

.forum {
    margin-bottom: 100px;
    width: 100%;
}

.list-topik {
    width: 100%;
}

.topik {
    padding: 20px 30px 20px 30px;
    background-color: white;
    margin-top: 20px;
}

.chat-forum .topik {
    padding: 0px;
}

.stress {
    background-color: #FF3A3A;
    padding: 5px;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.curhat {
    background-color: #E6CD49;
    padding: 5px;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.judul-topik h1 {
    font-size: 23px;
    margin-top: 10px;
}

.chat-forum .topik .judul-topik h1 {
    margin-bottom: 20px;
}

.isi-topik p {
    font-size: 16px;
    margin-top: 7px;
}

.tambah-topik {
    position: fixed;
    bottom: 90px;
    right: 20px;
}

.tambah-topik button {
    border-radius: 30px;
    background-color: #374151;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

.tambah-topik button b {
    display: none;
}

.forum-header {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    align-items: center;
}

.forum-header img {
    display: none;
}

.forum-header input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px 15px 5px 15px;
}

.forum-header-content h1 {
    font-size: 25px;
}

.daftar-topik-kategori {
    display: none;
}

main {
    width: 100%;
}

.footer-topik {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-topik span {
    display: block;
    font-size: 13px;
    margin-top: 15px;
}

.topik-action,
.topik-action span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.topik-action span svg {
    width: 20px;
}

/* CSS untuk mengatur modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    z-index: 9999;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal-content form {
    overflow-y: auto;
    height: 300px;
}

.modal-content .form-group label {
    display: block;
}

.modal-content .form-group input,
.modal-content .form-group input::-webkit-input-placeholder,
.modal-content .form-group textarea ::-webkit-input-placeholder {
    height: 50px;
    font-size: 15px;
}

.modal-content .form-group input,
.modal-content .form-group textarea,
.modal-content .form-group select {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    outline: none;
    border: none;
    background-color: #F1F1F1;
    font-size: 15px;
}

select option {
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
}

select option:checked {
    background-color: #374151 !important;
    color: #fff;
}

.open-modal-button {
    cursor: pointer;
}

.modal-content .close-modal {
    display: flex;
    justify-content: space-between;
}

.modal-content .close-modal b {
    font-size: 25px;
}

.modal-content .close {
    margin-bottom: 20px;
}

.close:hover {
    cursor: pointer;
}

.modal-content form {
    margin-top: 20px;
}

.modal-footer {
    display: flex;
    justify-content: end;
}

.modal-footer button {
    margin-top: 20px;
    background-color: #2E4450;
    color: #FFF;
    font-size: 17 px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 20px 10px 20px;
}


/* Halaman Profile */
.profile-page {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: white;
}

.profile-page .profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profile-page .profile-user img {
    width: 200px;
    height: 200px;
}

.profile-page .profile-user h1 {
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

.profile-page .profile-user p {
    text-align: center;
    margin-top: 10px;
}

.profile-page .profile-user .profile-user-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page .profile-user .saldo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 1px solid #FFB800;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    color: #FFB800;
    cursor: pointer;
}

.saldo:hover {
    background-color: #FFB800;
    color: white !important;
    transition: 100ms ease-in;
}

.saldo b {
    text-align: center;
    margin-top: 10px;
    display: block;
    font-weight: bolder;
    margin: 0;
}

.saldo img {
    width: 30px !important;
    height: 30px !important;
}

.profile-page .profile-user .edit-profile {
    border-radius: 11px;
    background: #DEE7FF;
    width: 200px;
    height: 40px;
    font-weight: bold;
}

.profile-page .informasi-akun {
    margin-top: 30px;
}

.profile-page .informasi-akun h2 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-page .informasi-akun p {
    margin-top: 5px;
}

.profile-page .topik-dibuat {
    margin-top: 50px;
}

.profile-page .topik-dibuat .topik {
    padding: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-page .topik-dibuat h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.home-dashboard {
    background-color: white;
    padding: 35px;
    border-radius: 7px;
}

.view-artikel {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.view-artikel .tentang-penulis {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-artikel .tentang-penulis img {
    width: 30px;
    height: 30px;
}

.view-artikel .artikel {
    margin-top: 20px;
}

.info-artikel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
}

.info-artikel small {
    margin-top: 5px;
    display: block;
}

.artikel-aksi {
    display: flex;
    gap: 10px;
}

.artikel-aksi span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artikel-aksi span svg {
    width: 20px;
}

.isi-artikel h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.isi-artikel img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.psikolog-mu {
    background-color: #F6FAFD;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
}

.topup {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    margin-bottom: 100px;
}

.topup h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.nominal-mindpoint {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.topup .nominal-mindpoint .nominal span {
    display: block;
    margin-bottom: 5px;
}

.topup .nominal-mindpoint .nominal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #1C7892;
    padding: 15px;
    color: var(--primary-color);
    border-radius: 10px;
}


.text-topup {
    display: block;
    margin-top: 15px;
}

.metode-pembayaran {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.metode-pembayaran img {
    width: 100px;
}

.bayar-gopay {
    height: 40px;
}

.bayar-qris,
.bayar-dana {
    height: 35px;
}

.pembayaran {
    background-color: white;
    border: 2px solid rgba(28, 120, 146, 0.5);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.pembayaran:hover {
    background-color: rgba(28, 120, 146, 0.5);
    border: none;
}

.topup-selected-option {
    background-color: rgba(28, 120, 146, 0.5);
    color: white;
    border: none;
}

.bayar-pembayaran {
    width: 100%;
    background-color: #1C7892;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 7px;
}

.icon-love,
.icon-comment,
.icon-bookmark {
    fill: #b4b4b4;

}

.icon-love:hover {
    fill: #ff3a3a;
}

.icon-comment:hover {
    fill: #ff3a3a;
}

.icon-bookmark:hover {
    fill: #4690ff;
}

.chat-forum {
    background-color: white;
    padding: 20px;
    /* height: 100%; */
    margin-top: 20px;
    margin-bottom: 100px;
}

input,
textarea {
    box-sizing: border-box;
}

.form-edit-pengguna h4 {
    margin-top: 50px;
    font-size: 25px;
}

.form-edit-pengguna form {
    margin-top: 25px;
}

.form-edit-pengguna label {
    display: block;
}

.form-edit-pengguna input,
.form-edit-pengguna textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    outline: none;
    margin-top: 10px;
    font-size: 17px;
}

.form-edit-pengguna .form-group {
    margin-top: 10px;
}

.edit-photo {
    position: sticky;
    background: rgba(0, 0, 0, 0.4);
    width: 200px;
    margin-top: -205px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in-out;
}

.edit-photo svg {
    fill: white;
}

.alert {
    position: absolute;
    right: -250px;
    z-index: 9999999;
    gap: 7px;
    align-items: center;
    display: none;
}

.alert-success {
    background-color: rgba(25, 135, 84, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.scan-to-buy .content-buy {
    display: flex;
    justify-content: center;
}

.konfirmasi-pembayaran-psikolog {
    overflow-y: auto;
    height: 300px;
}

.konfirmasi-pembayaran-psikolog p {
    margin-top: 15px;
}

.total-pembayaran {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
}

.bayar-psikolog {
    display: flex;
    justify-content: end;
}

.bayar-psikolog button {
    width: 174.036px;
    height: 45.478px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 16px;
}

.forum-comment {
    margin-top: 10px;
}

.forum-comment h3 {
    margin-top: 40px;
}

.forum-comment .action-comment {
    display: flex;
    padding: 15px 20px 15px 10px;
    background-color: #f8f8f8;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.action-comment select {
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}


.forum-comment .comment {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(55, 65, 81, 0.3);
}

.comment .user-comment {
    display: flex;
    gap: 15px;
}

.comment .user-comment b {
    font-size: 17px;
    margin-bottom: 5px;
    display: block;
}

.comment .comment-info {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.comment-action {
    margin-top: 10px;
    display: none;
}

.comment-action .button-reply {
    background-color: var(--primary-color);
    color: white;
    width: 100px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
}

.dashboard-header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
}

.dashboard-header-card {
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.08);
    background-color: white;
    width: 100%;
    height: 130px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 5px;

    border-left: 8px solid #607D8B;
}

.dashboard-header-card-content b {
    font-size: 20px;
}

.dashboard-header-card-content p {
    font-size: 60px;
    font-weight: bolder;
    display: flex;
    align-items: end;
    gap: 10px;
}

.dashboard-header-card-content p>span {
    font-size: 15px;
    font-weight: 400;
}

.comment-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.comment-rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reply-forum {
    margin-top: 30px;
}

.reply-forum textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

.reply-forum .up-reply {
    background-color: var(--primary-color);
    width: 200px;
    padding: 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.hasil-tes-kesehatan {
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: white;
    text-align: center;
}

.hasil-tes-kesehatan h1 {
    font-size: 35px;
    margin-bottom: 30px;
    padding: 20px;
}

.hasil-tes-kesehatan img {
    width: 100%;
}

.hasil-tes-kesehatan p {
    padding: 30px;
}


@media (min-width:768px) {
    .slider-container {
        margin-top: 20px;
    }

    .dashboard-header {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .download-button {
        margin-bottom: 0px;
    }

    .chat-forum {
        margin-bottom: 50px;
    }

    .cari-artikel input {
        width: 300px;
    }

    .nominal-mindpoint {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .view-artikel {
        margin-bottom: 20px;
    }

    .tes-kesehatan {
        margin-bottom: 20px;
    }

    .consultation {
        margin-bottom: 40px;
    }

    .modal-content form {
        overflow-y: hidden;
        height: auto;
    }

    .row-artikel {
        margin-bottom: 50px;
    }

    .dashboard-artikel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-content {
        width: 50%;
    }

    .forum-header {
        /* display: flex; */
        padding: 0px;
        padding-top: 20px;
    }

    .tambah-topik {
        bottom: 30px;
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sidebar-menu svg,
    .keluar {
        width: 30px;
    }

    .sidebar-menu svg:hover,
    .keluar:hover {
        transform: scale(1.3);
        margin-right: -15px;
        transition: 50ms ease-in;
    }

    .dashboard-profile img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-top: 20px;
    }

    .content {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* width: 10%; */
        max-width: 75px;
        min-width: 75px;
        height: 100vh;
        background: #374151;
    }

    main {
        height: 100vh;
        overflow-y: auto;
        padding: 0px 20px 0px 20px;
    }

    nav {
        display: none;
    }

    .row-artikel {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .nav-icon {
        width: 30%;
    }

    .bottom-navigation {
        display: none;
    }

    .banners {
        height: 250px;
    }

    .profile span {
        display: block;
    }

    .slide {
        width: 100%;
        height: 100%;
    }

    .tambah-topik button b {
        display: block;
    }
}

@media (min-width: 1024px) {

    .dashboard-header {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .chat-forum {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .psikolog-list {
        width: 60%;
    }

    .cari-artikel input {
        width: 500px;
    }

    .list-topik {
        width: 75%;
    }

    .chat-psikolog {
        display: block;
        width: 100%;
        background-color: white;
        padding: 30px;
    }

    .consultation {
        width: calc(100vw - 150px);
        display: flex;
        gap: 30px;
    }

    nav {
        padding: 15px 40px 15px 40px;
    }

    main {
        box-sizing: border-box;
        padding: 20px 40px 20px 40px;
    }

    .row-artikel {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .banners {
        height: 430px;
    }

    .nav-icon {
        width: 15%;
    }

    .slider-container {
        height: 450px;
    }

    .dashboard-profile img {
        width: 50px;
        height: 50px;
    }

    .chat-psikolog .profile-psikolog {
        display: flex;
        gap: 20px;
    }

    .profile-psikolog img {
        width: 80px;
        border-radius: 5px;
    }

    .profile-psikolog .nama-psikolog b {
        font-size: 20px;
    }

    .profile-psikolog .nama-psikolog p {
        width: 70%;
        margin-top: 10px;
    }

    .menu-chat {
        color: #374151;
        width: 50px;
        height: 50px !important;
        border-radius: 100%;
        border: 4px solid #37415134;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-chat b {
        font-weight: bolder;
        font-size: 30px;
        line-height: 0px;
        padding: 0;
        margin: 0;
    }

    .aksi-chat {
        margin-top: 10px;
        display: flex;
        background-color: #F6FAFD;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .aksi-chat-button {
        display: flex;
        gap: 25px;
    }

    .aksi-chat-button button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    .main-chat {
        margin-top: 30px;
        position: relative;
    }

    .chat-list {
        overflow-y: auto;
        height: 350px;
    }

    .pesan-dikirim {
        display: flex;
        justify-content: end;
    }

    .pesan-dikirim p {
        color: white;
        width: 50%;
        background-color: #374151;
        padding: 30px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .pesan-diterima {
        margin-top: 20px;
        background-color: #EFEFEF;
        color: white;
        padding: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 50%;
        right: 0;
        color: black;
    }

    .kirim-pesan {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        margin-top: 20px;
    }

    .kirim-pesan input {
        width: 100%;
        height: 50px;
        outline: none;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tes-kesehatan {
        padding: 30px;
    }

    .kirim-pesan button {
        border-radius: 100%;
        background-color: #374151;
        padding: 10px;
    }

    .kirim-pesan button svg {
        width: 20px;
        height: 20px;
    }

    .tes-kesehatan h1 {
        color: #000;
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tes-kesehatan p {
        padding-left: 250px;
        padding-right: 250px;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .tes-kesehatan .ilustration {
        display: flex;
        justify-content: center;
    }

    .tes-kesehatan img {
        width: 500px;
    }

    .tes-kesehatan .button-aksi div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .soal-action {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .soal-action button {
        width: 50px;
        height: 50px;
        background-color: #374151;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .soal-action img {
        width: 200px;
    }

    .laporan-kesehatan p {
        margin-top: 10px;
        width: 80%;
    }

    .category-icon {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .list-kategori {
        margin-top: 10px;
    }

    .category-icon.red {
        background-color: #FF3A3A;
    }

    .category-icon.yellow {
        background-color: #E6CD49;
    }

    .category-icon.green {
        background-color: #89D839;
    }

    .category-icon.blue {
        background-color: #7BFFDF;
    }

    .category-icon.dark-blue {
        background-color: #346DFF;
    }

    .category-icon.purple {
        background-color: #B311FF;
    }

    .category-icon.soft-red {
        background-color: #FF0861;
    }

    .category-icon.pink {
        background-color: #FF6D99;
    }

    .list-kategori {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .forum {
        width: 100% !important;
        display: flex;
        gap: 30px;
    }

    .forum-header img {
        display: block;
    }

    .daftar-topik-kategori {
        display: block;
        margin-top: 20px;
    }

    .row-artikel {
        margin-bottom: 20px;
    }

    .profile-page .profile-user {
        flex-direction: row;
        justify-content: space-between;
    }

    .profile-page .profile-user h1,
    .profile-page .profile-user p {
        text-align: left;
    }

    .profile-page .profile-user h1 {
        font-size: 40px;
    }

    .profile-page .profile-user p {
        font-size: 17px;
        width: 80%;
    }

    .profile-page .user-info {
        display: flex;
        /* align-items: center; */
        gap: 70px;
    }

    .profile-page .user-info .informasi-akun {
        width: 50%;
        margin-top: 50px;
    }

    .profile-page .user-info .topik-dibuat h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .profile-page .user-info .topik-dibuat .topik {
        width: 100%;
    }

    .consultation {
        margin-bottom: 0px;
    }

    .forum {
        margin-bottom: 0px;
    }

    .profile-page .profile-user .profile-user-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .profile-psikolog {
        padding: 0px;
    }

    .list-psikolog-card {
        height: 550px;
        overflow-y: auto;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    margin-top: 20px;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.row.blue {
    background: #1C7892;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.header {
        padding: 0;
        height: 6px;
    }

    .row.header .cell {
        display: none;
    }

    .cell {
        margin-bottom: 10px;
    }

    .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}